 body {
  background-color: white;
  color: black;
  transition: all 0.3s;
}

body.dark-mode {
  background-color: #111827;
  color: white;
}



/* Link colors for dark mode */
body.dark-mode a {
  color: #4da6ff;
  text-decoration: none;
  font-weight: 500;
  text-shadow: 0 0 2px #4da6ff;
}

body.dark-mode a:hover {
  color: #80c1ff;
  text-decoration: underline;
}
button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.toggle-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}